@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;
    color: white;
    }
    .lugrasimo-regular {
        font-family: sans-serif;
        font-weight: 400;
        font-style: normal;
        
      }
    
      .profile{
          background-color: #2C2828;
      }

      .stats{
        background-color: #2C2828;
        opacity: 48%;
      }
      .leaderboard{
        background-color: #2C2828;
        opacity: 48%;
      }
      .questions{
        background-color: #2C2828;
        opacity: 48%;
        
      }
